.tableContainer {
  overflow-x: auto;
  margin: 16px 24px;
}

.table {
  width: 40%;
  border-collapse: collapse;
  text-align: left;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 50%;
}

.table th {
  font-weight: 600;
}